# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.jfm

#outputs
[Dd]ebug/
**/[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
**/[Bb]in/
[Oo]bj/
**/[Oo]bj/
**/bin/Release/

*.ispac
/Interrogator/BimlStudio Project/documentation/
/Interrogator/BimlStudio Project/addedBiml/Connections/
/Interrogator/BimlStudio Project/addedBiml/Databases
/Interrogator/BimlStudio Project/addedBiml/FileFormats/
/Interrogator/BimlStudio Project/addedBiml/Packages/
/Interrogator/BimlStudio Project/addedBiml/Projects/
/Interrogator/BimlStudio Project/addedBiml/Schemas/
/Interrogator/BimlStudio Project/addedBiml/Tables/

