#User-specificfiles
*.suo
*.user
*.userosscache
*.sln.docstates
*.jfm
*.muo

#outputs
**/[Bb]in/
**/[Oo]bj/
**/bin/Release/
**output/
[Dd]ebug/
**/[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
*.dbmdl
*.ispac
*.log

#Biml outputs
**/addedBiml/Connections/
**/addedBiml/Databases/
**/addedBiml/Schemas/
**/addedBiml/FileFormats/
**/addedBiml/Packages/
**/addedBiml/Projects/
**/addedBiml/ScriptProjects/
**/addedBiml/Tables/
**/documentation/


# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# BimlExpress files we don't want to check in 
/Interrogator/BimlExpress Project/BimlExpress/06_Packages_ExtractFlatFiles.biml
/Interrogator/BimlExpress Project/BimlExpress/05_Packages_CreateObjects.biml
/Interrogator/BimlExpress Project/BimlExpress/04_Tables_SQL-ALL.biml
/Interrogator/BimlExpress Project/BimlExpress/04_Tables_FlatFiles.biml
/Interrogator/BimlExpress Project/BimlExpress/04_Tables_Excel.biml
/Interrogator/BimlExpress Project/BimlExpress/03_Schemas.biml
/Interrogator/BimlExpress Project/BimlExpress/02_Databases.biml
/Interrogator/BimlExpress Project/BimlExpress/02_Connections-FlatFiles.biml
/Interrogator/BimlExpress Project/BimlExpress/01_FileFormats.biml
/Interrogator/BimlExpress Project/BimlExpress/01_Connections-OLEDB.biml
/Interrogator/BimlExpress Project/BimlExpress/01_Connections-ADONET.biml
/Interrogator/BimlExpress Project/BimlExpress/00_Configuration.biml
/Interrogator/BimlExpress Project/Code
/Interrogator/BimlExpress Project/BimlExpress/*.dtsx
/Interrogator/BimlExpress Project/BimlExpress/*.conmgr
