#User-specificfiles
*.suo
*.user
*.userosscache
*.sln.docstates
*.jfm
*.muo
*.dtsx
*.conmgr

#key files
*.snk
gac.txt

#outputs
**/[Bb]in/
**/[Oo]bj/
**/bin/Release/
**output/
[Dd]ebug/
**/[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
*.dbmdl
*.ispac
*.log

#Biml outputs
**/addedBiml/Connections/
**/addedBiml/Databases/
**/addedBiml/Schemas/
**/addedBiml/FileFormats/
**/addedBiml/Packages/
**/addedBiml/Projects/
**/addedBiml/ScriptProjects/
**/addedBiml/Tables/
**/documentation/


# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# BimlExpress files we don't want to check in 
/Interrogator/BimlExpress Project/BimlExpress/*.dtsx
/Interrogator/BimlExpress Project/BimlExpress/*.conmgr

/Interrogator/BimlStudio Project/test/

