.page
{
	width: 1400px;
}

.innerContent .Note
{
	border: #BBBBBB solid 1px;
	padding: 5px;
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:85%;
	line-height:140%;
	font-weight: bold;
	margin: 20px;
	width: 750px;
}

.InstructionStepImage
{
	margin: 7px 0px 10px 0px;
}

.caption
{
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:85%;
	line-height:140%;
	font-weight: bold;
}

.innerContent ul
{
	margin: 0px 0px 0px 20px;
}

.innerContent table
{
	border-collapse:collapse;
	border-spacing:0px;
	padding: 0px;
}

.innerContent td
{
	border: #BBBBBB solid 1px;
	border-spacing:0px;
	padding: 10px;
}

.LanguageTitle
{
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:68.75%;
	line-height:140%;
}

.PageTitle, .TopicHeader
{
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:140%;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	margin:0px 0px 10px;
}

.PageTitle a
{
	text-decoration: none;
}

body
{
	color: black;
	font-family: 'Segoe UI', Verdana, Arial;
	font-size: 10pt;
	font-style: normal;
}

.LanguageSummary
{
	margin-bottom: 20px;
}

.MemberList, .TypeList, .ParameterList, .ReturnValue, .NamespaceList, .AttributeList, .ChildList, .SchemaBindingList, .ReferenceList, .MemberParentList
{
	width:100%;
	border-spacing:0px;
	padding: 0px;
	font-family: 'Segoe UI', Verdana, Arial;
	font-size: 10pt;
	font-style: normal;
	border-collapse:collapse;
}

.MemberList td, .MemberList th, .TypeList td, .TypeList th, .ParameterList td, .ParameterList th, .ReturnValue td, .ReturnValue th, .NamespaceList td, .NamespaceList th, .AttributeList td, .AttributeList th, .ChildList td, .ChildList th, .SchemaBindingList td, .SchemaBindingList th, .ReferenceList td, .ReferenceList th, .MemberParentList td, .MemberParentList th
{
	border: #BBBBBB solid 1px;
	border-spacing:0px;
	padding: 5px;
}

.NotRequired
{
	padding-right: 16px;
}

.MemberList .MemberTypeIconColumnHeader, .MemberList .MemberNameColumnHeader, .MemberList .MemberSummaryColumnHeader, .MemberList .MemberDefaultColumnHeader,
.TypeList .TypeIconColumnHeader, .TypeList .TypeNameColumnHeader, .TypeList .TypeSummaryColumnHeader,
.ParameterList .ParameterIconColumnHeader, .ParameterList .ParameterNameColumnHeader, .ParameterList .ParameterTypeColumnHeader, .ParameterList .ParameterSummaryColumnHeader,
.ReturnValue .ReturnValueIconColumnHeader, .ReturnValue .ReturnValueTypeColumnHeader, .ReturnValue .ReturnValueSummaryColumnHeader,
.NamespaceList .NamespaceIconColumnHeader, .NamespaceList .NamespaceNameColumnHeader,
.AttributeList  .AttributeIconColumnHeader, .AttributeList  .AttributeNameColumnHeader, .AttributeList  .AttributeTypeColumnHeader, .AttributeList  .AttributeDefaultColumnHeader, .AttributeList  .AttributeSummaryColumnHeader,
.ChildList  .ChildIconColumnHeader, .ChildList  .ChildNameColumnHeader, .ChildList  .ChildTypeColumnHeader, .ChildList  .ChildSummaryColumnHeader,
.SchemaBindingList  .SchemaBindingIconColumnHeader, .SchemaBindingList  .SchemaBindingNameColumnHeader, .SchemaBindingList  .SchemaBindingTypeColumnHeader, .SchemaBindingList  .SchemaBindingSummaryColumnHeader,
.ReferenceList  .ReferenceIconColumnHeader, .ReferenceList  .ReferencingTypeColumnHeader, .ReferenceList  .ReferencingPropertyColumnHeader, .ReferenceList  .ReferencingPropertySummaryColumnHeader,
.MemberParentList  .MemberParentIconColumnHeader, .MemberParentList  .MemberParentTypeColumnHeader, .MemberParentList  .MemberParentSummaryColumnHeader
{
	background-color: #EEEEEE;
}

.MemberList .MemberNameColumnHeader, .TypeList .TypeNameColumnHeader, .ParameterList .ParameterNameColumnHeader, .NamespaceList .NamespaceNameColumnHeader, .AttributeList .AttributeNameColumnHeader,
.MemberList .MemberName, .TypeList .TypeName, .ParameterList .ParameterName, .AttributeList .AttributeName, .ChildList .ChildName, .SchemaBindingList .SchemaBindingName,
.ReferenceList .ReferencingTypeColumnHeader, .ReferenceList .ReferencingType,
.MemberParentList .MemberParentTypeColumnHeader, .MemberParentList .MemberParentType
{
	max-width: 375px;
}

.MemberList .MemberTypeIconColumnHeader, .TypeList .TypeIconColumnHeader, .ParameterList .ParameterIconColumnHeader, .ReturnValue .ReturnValueIconColumnHeader, .NamespaceList .NamespaceIconColumnHeader, .AttributeList .AttributeIconColumnHeader, .ChildList .ChildIconColumnHeader, .SchemaBindingList .SchemaBindingIconColumnHeader, .ReferenceList .ReferenceIconColumnHeader, .MemberParentList .MemberParentIconColumnHeader
{
	width:50px;
}

.AttributeList  .AttributeName, .AttributeList  .AttributeType,
.ChildList  .ChildName, .ChildList  .ChildType,
.SchemaBindingList  .SchemaBindingName, .SchemaBindingList  .SchemaBindingType
{
	white-space: nowrap;
}

.InheritanceHierarchyGroup
{
	margin-top:20px;
}

.NamespaceGroup, .NodeTypeGroup, .EnumTypeGroup, .ExternalTypeGroup, .ParameterGroup, .ReturnValueGroup, .DetailsGroup, .RemarksGroup, .ExamplesGroup, .VersionInformationGroup, .PropertyGroup, .MethodGroup, .EventGroup, .ExtensionMethodGroup, .EnumValueGroup, .InheritanceHierarchyGroup, .FullInheritanceHierarchyGroup,
.AttributeGroup, .ChildGroup, .SchemaBindingGroup, .ReferenceGroup, .MemberParentGroup
{
    clear:both;
	margin-bottom:20px;
}

.NamespaceGroupHeader, .NodeTypeGroupHeader, .EnumTypeGroupHeader, .ExternalTypeGroupHeader, .ParameterGroupHeader, .ReturnValueGroupHeader, .DetailsGroupHeader, .RemarksGroupHeader, .ExamplesGroupHeader, .VersionInformationGroupHeader, .PropertyGroupHeader, .MethodGroupHeader, .EventGroupHeader, .ExtensionMethodGroupHeader, .EnumValueGroupHeader, .InheritanceHierarchyGroupHeader,
.AttributeGroupHeader, .ChildGroupHeader, .SchemaBindingGroupHeader, .ReferenceGroupHeader, .MemberParentGroupHeader
{
	color:#000000;
	cursor:pointer;
	font-size:120%;
	font-weight:bold;
	text-decoration:none;
	line-height:140%;
	font-family:Verdana,Arial,Helvetica,sans-serif;
    clear:both;
	margin-bottom:3px;
}

.AssemblyInfoGroup, .AssemblyInfoGroupWithMargin
{
	float:left;
	clear: both;
	margin-bottom: 20px;
}

.AssemblyInfoGroupWithMargin, .Buffer
{
	margin-top:20px;
}

.NamespaceHeader, .AssemblyHeader, .EventHandlerTypeHeader, .CrossReferenceHeader
{
	font-weight: bold;
	float: left;
	clear: both;
}

.NamespaceValue, .AssemblyValue, .EventHandlerTypeValue, .CrossReferenceValue
{
	float: left;
	margin-left:10px;
}

.InheritanceHierarchyGroup li, .FullInheritanceHierarchyGroup li
{
	list-style-type: none;
}

.MetadataGroup
{
	padding:5px;
	margin:3px 50px 15px 0px;
	width:500px;
	background-color:#EEEEEE;
	border:solid 1px #000000;
	clear:both;
	float: left;
}

.MetadataGroupHeader
{
	padding:3px;
	line-height:140%;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#000000;
	background-color:#CCCCCC;
	font-size:90%;
	font-weight:bold;
	clear:both;
}

.MetadataItemHeader
{
	margin:5px 0px 0px 0px;
	line-height:140%;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#000000;
	font-size:68.75%;
	font-weight:bold;
	float:left;
	clear:left;
}

.MetadataItemValue
{
	margin:5px 0px 0px 0px;
	line-height:140%;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#000000;
	font-size:68.75%;
	float:right;
	clear:right;
}

.DetailItem, .RemarkItem, .ExampleItem, .VersionInformationItem
{
	margin:0px 0px 10px;
	padding:0px;
	line-height:140%;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#000000;
	font-size:68.75%;
}

.tableOfContents .treeview ul
{
	margin:0px 0px 0px 20px;
}

.tocItem
{
	margin:0px 0px 3px 20px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	list-style-image:none;
	list-style-position:inside;
	list-style-type:none;
	overflow:visible;
	white-space:nowrap;
	line-height:140%;
	color:#000000;
	font-size:68.75%;
}

.tableOfContents
{
	text-align: left;
	float:left;
	padding-bottom:96px;
	width:280px;
	vertical-align:top;	
	overflow:hidden;
}

.tableOfContents a {
    color:#333333;
}

.mainContent
{
	text-align:left;
	width:auto;
	overflow:auto;
}

.innerContent
{
	padding: 0px 13px 0px 13px;
	width: 100%;
	border-left: #8BD3F5 1px solid;
	height: 750px;
}

html>body .mainContent
{
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	width:auto;
}

html>body .innerContent
{
	width:auto;
	border:none;
	height: auto;
	min-height: 750px;
}

.tocResize
{
	position: relative;
	left:8px;
	float:left;
	height: 22px;
	width: 7px;
	overflow: hidden;
	cursor: pointer;
}

.contentWrapper
{
	overflow: auto;
	margin-top:20px;
}

.sub-nav
{
	margin-left:400px;
}

.AttributeName
{
	color: #E1822D;
	border-top: #BBBBBB solid 1px;
	font-family: 'Courier New';
}

.AttributeSummary
{
	border-top: #BBBBBB solid 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.SchemaBindingSummary
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.punc
{
	color: #0000FF;
}

.ChildName, .SchemaBindingName
{
	color: #990000;
	font-family: 'Courier New';
}

.SchemaBindingName
{
	padding-left: 20px;
}

.AttributeList
{
	font-family: 'Segoe UI', Verdana, Arial;
	font-size: 10pt;
	font-style: normal;
	border-collapse:collapse;
}

.ad0, .cd0
{
	background-color: #F4F4FF;
}

.ad1, .cd1
{
	background-color: #FBFBFB;
}

li
{
    margin-left: 15px;
}

.breadcrumb
{
    list-style: none;
    overflow: hidden;
    font: 10px Helvetica, Arial, Sans-Serif;
    margin: 0px 0px 9px 13px;
}

.breadcrumb li
{
    margin-left: 0px;
    float: left;
}

.breadcrumb li a
{
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 15px;
    background: brown;
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: left;
    border-radius: 3px 0px 0px 3px;
    margin-bottom: 1px;
}

.breadcrumb li a:after
{
    content: " ";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 10px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li a:before
{
    content: " ";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a
{
    padding-left: 10px;
}

.breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }

.breadcrumb li:nth-child(7) a       { background:        hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(7) a:after { border-left-color: hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(8) a       { background:        hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(8) a:after { border-left-color: hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(9) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(9) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(10) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(10) a:after { border-left-color: hsla(34,85%,75%,1); }

.breadcrumb li:nth-child(12) a       { background:        hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(12) a:after { border-left-color: hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(13) a       { background:        hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(13) a:after { border-left-color: hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(14) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(14) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(15) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(15) a:after { border-left-color: hsla(34,85%,75%,1); }

.breadcrumb li:nth-child(17) a       { background:        hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(17) a:after { border-left-color: hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(18) a       { background:        hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(18) a:after { border-left-color: hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(19) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(19) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(20) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(20) a:after { border-left-color: hsla(34,85%,75%,1); }

.breadcrumb li:nth-child(22) a       { background:        hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(22) a:after { border-left-color: hsla(34,85%,45%,1); }
.breadcrumb li:nth-child(23) a       { background:        hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(23) a:after { border-left-color: hsla(34,85%,55%,1); }
.breadcrumb li:nth-child(24) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(24) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(25) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(25) a:after { border-left-color: hsla(34,85%,75%,1); }

.breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }
